.mediaViewInfo {
	--web-view-name: User;
	--web-view-id: User;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: User;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}

html{
	background-color: #E4E4E4;
}

#User {
	position: absolute;
	width: 2200px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: User;
	--web-view-id: User;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
#Ellipse_34 {
	fill: rgba(17,188,210,1);
}
.Ellipse_34 {
	position: absolute;
	overflow: visible;
	width: 1792px;
	height: 1792px;
	left: -449px;
	top: -453px;
	transition: all 2s ease-in-out;
}
#Navbar {
	position: absolute;
	width: 2210px;
	height: 91px;
	left: -10px;
	top: -7px;
	overflow: visible;
}
#Rectangle_18_p {
	fill: url(#Rectangle_18_p);
}
.Rectangle_18_p {
	position: absolute;
	overflow: visible;
	width: 2210px;
	height: 91px;
	left: 0px;
	top: 0px;
}
#Metro_Events {
	left: 31px;
	top: 24px;
	position: absolute;
	overflow: visible;
	width: 174px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: lighter;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#Group_9 {
	position: absolute;
	width: 612px;
	height: 44px;
	left: 804px;
	top: 24px;
	overflow: visible;
}
#search_bar {
	position: absolute;
	width: 612px;
	height: 44px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_19 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_19 {
	position: absolute;
	overflow: visible;
	width: 612px;
	height: 44px;
	left: 0px;
	top: 0px;
}
#Icon_awesome-search {
	fill: rgba(144,144,144,1);
}
.Icon_awesome-search {
	overflow: visible;
	position: absolute;
	width: 25.61px;
	height: 25.614px;
	left: 562.326px;
	top: 9.195px;
	transform: matrix(1,0,0,1,0,0);
}
#search {
	left: 29px;
	top: 5px;
	position: absolute;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(163,163,163,1);
}
#Group_54 {
	position: absolute;
	width: 387.08px;
	height: 38.91px;
	left: 1746px;
	top: 26.17px;
	overflow: visible;
}
#goto-help {
	fill: rgba(255,255,255,1);
}
.goto-help {
	overflow: visible;
	position: absolute;
	width: 38.91px;
	height: 38.91px;
	left: 348.17px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#goto-contact-us {
	left: 160px;
	top: 3.83px;
	position: absolute;
	overflow: visible;
	width: 141px;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#goto-about-us {
	left: 0px;
	top: 3.83px;
	position: absolute;
	overflow: visible;
	width: 113px;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Group_72 {
	position: absolute;
	width: 1810px;
	height: 757.216px;
	left: 76px;
	top: 195px;
	overflow: visible;
}
#Group_53 {
	position: absolute;
	width: 740.399px;
	height: 720.716px;
	left: 466.47px;
	top: 36.5px;
	overflow: visible;
	transition: all 2s ease-in-out;
}
#Path_182 {
	fill: rgba(95,174,132,1);
}
.Path_182 {
	overflow: visible;
	position: absolute;
	width: 12.168px;
	height: 10.592px;
	left: 657.514px;
	top: 626.533px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_35 {
	fill: rgba(255,99,99,1);
}
.Ellipse_35 {
	position: absolute;
	overflow: visible;
	width: 11.613px;
	height: 11.613px;
	left: 648.429px;
	top: 614.227px;
}
#Rectangle_91 {
	fill: rgba(63,61,86,1);
}
.Rectangle_91 {
	position: absolute;
	overflow: visible;
	width: 1.639px;
	height: 11.473px;
	left: 653.291px;
	top: 629.812px;
}
#Path_183 {
	fill: rgba(229,229,229,1);
}
.Path_183 {
	overflow: visible;
	position: absolute;
	width: 263.309px;
	height: 489.172px;
	left: 0px;
	top: 156.91px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_36 {
	fill: rgba(209,242,172,1);
}
.Ellipse_36 {
	position: absolute;
	overflow: visible;
	width: 345.083px;
	height: 345.083px;
	left: 73.047px;
	top: 0px;
}
#Path_184 {
	opacity: 0.2;
	fill: rgba(0,0,0,1);
}
.Path_184 {
	overflow: visible;
	position: absolute;
	width: 331.271px;
	height: 287.392px;
	left: 74.424px;
	top: 57.298px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_185 {
	fill: rgba(133,83,72,1);
}
.Path_185 {
	overflow: visible;
	position: absolute;
	width: 17.624px;
	height: 480.668px;
	left: 237.301px;
	top: 172.542px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_92 {
	fill: rgba(133,83,72,1);
}
.Rectangle_92 {
	width: 32.233px;
	height: 8.532px;
	position: absolute;
	overflow: visible;
	transform: translate(0.029px, 0px) matrix(1,0,0,1,245.0866,438.4652) rotate(-27.766deg);
	transform-origin: center;
}
#Rectangle_93 {
	fill: rgba(203,203,203,1);
}
.Rectangle_93 {
	position: absolute;
	overflow: visible;
	width: 81.357px;
	height: 1.821px;
	left: 160.852px;
	top: 687.944px;
}
#Rectangle_94 {
	fill: rgba(203,203,203,1);
}
.Rectangle_94 {
	position: absolute;
	overflow: visible;
	width: 81.357px;
	height: 1.821px;
	left: 310.143px;
	top: 718.896px;
}
#Rectangle_95 {
	fill: rgba(132,67,67,1);
}
.Rectangle_95 {
	position: absolute;
	overflow: visible;
	width: 81.357px;
	height: 1.821px;
	left: 542.275px;
	top: 695.227px;
}
#Path_186 {
	fill: rgba(95,174,132,1);
}
.Path_186 {
	overflow: visible;
	position: absolute;
	width: 9.172px;
	height: 52.957px;
	left: 586.473px;
	top: 568.192px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_187 {
	fill: rgba(95,174,132,1);
}
.Path_187 {
	overflow: visible;
	position: absolute;
	width: 39.128px;
	height: 35.813px;
	left: 548.736px;
	top: 585.327px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_188 {
	fill: rgba(194,203,137,1);
}
.Path_188 {
	overflow: visible;
	position: absolute;
	width: 9.172px;
	height: 52.957px;
	left: 183.201px;
	top: 580.936px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_189 {
	fill: rgba(194,203,137,1);
}
.Path_189 {
	overflow: visible;
	position: absolute;
	width: 39.128px;
	height: 35.813px;
	left: 145.464px;
	top: 598.071px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_190 {
	fill: rgba(141,203,137,1);
}
.Path_190 {
	overflow: visible;
	position: absolute;
	width: 11.406px;
	height: 65.853px;
	left: 323.39px;
	top: 606.274px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_191 {
	fill: rgba(194,203,137,1);
}
.Path_191 {
	overflow: visible;
	position: absolute;
	width: 48.656px;
	height: 44.534px;
	left: 276.465px;
	top: 627.581px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_192 {
	fill: rgba(128,50,50,1);
}
.Path_192 {
	overflow: visible;
	position: absolute;
	width: 643.879px;
	height: 52.389px;
	left: 96.52px;
	top: 620.438px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_193 {
	fill: rgba(15,14,10,1);
}
.Path_193 {
	overflow: visible;
	position: absolute;
	width: 29.052px;
	height: 17.345px;
	left: 449.663px;
	top: 101.101px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_194 {
	fill: rgba(15,14,10,1);
}
.Path_194 {
	overflow: visible;
	position: absolute;
	width: 29.052px;
	height: 17.345px;
	left: 21.812px;
	top: 97.459px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_195 {
	fill: rgba(15,14,10,1);
}
.Path_195 {
	overflow: visible;
	position: absolute;
	width: 29.052px;
	height: 17.345px;
	left: 424.174px;
	top: 274.972px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_196 {
	fill: rgba(255,183,183,1);
}
.Path_196 {
	overflow: visible;
	position: absolute;
	width: 25.895px;
	height: 37.644px;
	left: 362.476px;
	top: 650.751px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_197 {
	fill: rgba(190,70,19,1);
}
.Path_197 {
	overflow: visible;
	position: absolute;
	width: 29.588px;
	height: 22.2px;
	left: 356.999px;
	top: 681.337px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_198 {
	fill: rgba(255,183,183,1);
}
.Path_198 {
	overflow: visible;
	position: absolute;
	width: 14.016px;
	height: 36.63px;
	left: 450.08px;
	top: 657.702px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_199 {
	fill: rgba(190,70,19,1);
}
.Path_199 {
	overflow: visible;
	position: absolute;
	width: 30.621px;
	height: 12.306px;
	left: 448.434px;
	top: 691.231px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_200 {
	fill: rgba(76,103,82,1);
}
.Path_200 {
	overflow: visible;
	position: absolute;
	width: 113.481px;
	height: 242.841px;
	left: 355.866px;
	top: 434.092px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_96 {
	opacity: 0.2;
	fill: rgba(0,0,0,1);
}
.Rectangle_96 {
	width: 0.91px;
	height: 62.777px;
	position: absolute;
	overflow: visible;
	transform: translate(0.029px, 0px) matrix(1,0,0,1,413.4778,527.8041) rotate(-15.751deg);
	transform-origin: center;
}
#Rectangle_97 {
	fill: rgba(63,61,86,1);
}
.Rectangle_97 {
	width: 37.956px;
	height: 3.873px;
	position: absolute;
	overflow: visible;
	transform: translate(0.029px, 0px) matrix(1,0,0,1,407.3492,513.1029) rotate(180deg);
	transform-origin: center;
}
#Ellipse_37 {
	fill: rgba(63,61,86,1);
}
.Ellipse_37 {
	position: absolute;
	overflow: visible;
	width: 3.098px;
	height: 7.746px;
	left: 443.784px;
	top: 511.554px;
}
#Ellipse_38 {
	fill: rgba(255,183,183,1);
}
.Ellipse_38 {
	width: 41.295px;
	height: 41.295px;
	position: absolute;
	overflow: visible;
	transform: translate(0.029px, 0px) matrix(1,0,0,1,407.5385,391.5082) rotate(-61.337deg);
	transform-origin: center;
}
#Ellipse_39 {
	fill: rgba(252,236,159,1);
}
.Ellipse_39 {
	position: absolute;
	overflow: visible;
	width: 36.533px;
	height: 36.533px;
	left: 378.355px;
	top: 368.251px;
}
#Path_201 {
	fill: rgba(252,236,159,1);
}
.Path_201 {
	overflow: visible;
	position: absolute;
	width: 36.392px;
	height: 23.48px;
	left: 372.681px;
	top: 384.56px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_202 {
	fill: rgba(252,236,159,1);
}
.Path_202 {
	overflow: visible;
	position: absolute;
	width: 50.404px;
	height: 43.197px;
	left: 402.548px;
	top: 387.259px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_203 {
	fill: rgba(255,99,99,1);
}
.Path_203 {
	overflow: visible;
	position: absolute;
	width: 40.674px;
	height: 81.658px;
	left: 369.697px;
	top: 436.954px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_204 {
	fill: rgba(255,99,99,1);
}
.Path_204 {
	overflow: visible;
	position: absolute;
	width: 26.99px;
	height: 69.113px;
	left: 407.35px;
	top: 440.403px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_98 {
	fill: rgba(63,61,86,1);
}
.Rectangle_98 {
	width: 0.825px;
	height: 30.75px;
	position: absolute;
	overflow: visible;
	transform: translate(0.029px, 0px) matrix(1,0,0,1,391.1999,468.8233) rotate(-78.394deg);
	transform-origin: center;
}
#Rectangle_99 {
	fill: rgba(63,61,86,1);
}
.Rectangle_99 {
	width: 47.969px;
	height: 0.825px;
	position: absolute;
	overflow: visible;
	transform: translate(0.029px, 0px) matrix(1,0,0,1,371.94,460.5024) rotate(-87.663deg);
	transform-origin: center;
}
#Path_205 {
	fill: rgba(63,61,86,1);
}
.Path_205 {
	overflow: visible;
	position: absolute;
	width: 13.776px;
	height: 49.952px;
	left: 369.695px;
	top: 465.033px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_206 {
	fill: rgba(255,183,183,1);
}
.Path_206 {
	overflow: visible;
	position: absolute;
	width: 14.627px;
	height: 33.637px;
	left: 413.357px;
	top: 527.215px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_207 {
	fill: rgba(203,203,203,1);
}
.Path_207 {
	overflow: visible;
	position: absolute;
	width: 22.588px;
	height: 95.894px;
	left: 408.418px;
	top: 446.099px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_208 {
	fill: rgba(15,14,10,1);
}
.Path_208 {
	overflow: visible;
	position: absolute;
	width: 29.052px;
	height: 17.345px;
	left: 594.174px;
	top: 214.972px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_209 {
	fill: rgba(15,14,10,1);
}
.Path_209 {
	overflow: visible;
	position: absolute;
	width: 29.052px;
	height: 17.345px;
	left: 534.174px;
	top: 308.972px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_210 {
	fill: rgba(15,14,10,1);
}
.Path_210 {
	overflow: visible;
	position: absolute;
	width: 29.052px;
	height: 17.345px;
	left: 634.174px;
	top: 369.972px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_56 {
	position: absolute;
	width: 448px;
	height: 332px;
	left: 0px;
	top: 0px;
	overflow: visible;
	transition: all 2s ease-in-out;
	z-index: 3;
}
#New_Here_ {
	left: 91px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 279px;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(255,255,255,1);
}
#Connect_your_friends_and_the_w {
	left: 0px;
	top: 88px;
	position: absolute;
	overflow: visible;
	width: 449px;
	height: 160px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Group_55 {
	position: absolute;
	width: 222px;
	height: 55px;
	left: 119px;
	top: 277px;
	overflow: visible;
	transition: all 0.2s ease-in-out;
}
#Group_55:hover{
	transform: scale(1.05);
}
#Rectangle_100 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_100 {
	position: absolute;
	overflow: visible;
	width: 222px;
	height: 55px;
	left: 0px;
	top: 0px;
}
#goto-sign-up {
	width: 222px;
	height: 55px;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	background-color: transparent;
	color: rgba(255,255,255,1);
	outline: none;
	cursor: pointer;
}
#Sign-in-form {
	position: absolute;
	width: 491px;
	height: 437px;
	left: 1319px;
	top: 88px;
	overflow: visible;
	transition: all 2s ease-in-out;
	z-index: 5;
}
#Sign_In {
	opacity: 0.74;
	left: 159px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 173px;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(0,0,0,1);
}
#Group_58 {
	position: absolute;
	width: 491px;
	height: 83px;
	left: 0px;
	top: 243px;
	overflow: visible;
}
#Rectangle_102 {
	fill: rgba(224,224,224,1);
}
.Rectangle_102 {
	position: absolute;
	overflow: visible;
	width: 491px;
	height: 83px;
	left: 0px;
	top: 0px;
}
#Icon_awesome-lock {
	fill: rgba(181,181,181,1);
}
.Icon_awesome-lock {
	overflow: visible;
	position: absolute;
	width: 31.5px;
	height: 36px;
	left: 45px;
	top: 24px;
	transform: matrix(1,0,0,1,0,0);
}
#sign-in-pass {
	left: 109px;
	top: 0;
	position: absolute;
	overflow: visible;
	width: 320px;
	height: 83px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(137,137,137,1);
	background-color: rgba(224,224,224,1);
	outline: none;
}
#Group_57 {
	position: absolute;
	width: 491px;
	height: 83px;
	left: 0px;
	top: 132px;
	overflow: visible;
}
#Rectangle_101 {
	fill: rgba(224,224,224,1);
}
.Rectangle_101 {
	position: absolute;
	overflow: visible;
	width: 491px;
	height: 83px;
	left: 0px;
	top: 0px;
}
#Icon_awesome-user {
	fill: rgba(181,181,181,1);
}
.Icon_awesome-user {
	overflow: visible;
	position: absolute;
	width: 31.5px;
	height: 36px;
	left: 45px;
	top: 24px;
	transform: matrix(1,0,0,1,0,0);
}
#sign-in-user {
	left: 109px;
	top: 0;
	position: absolute;
	overflow: visible;
	width: 320px;
	height: 83px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(137,137,137,1);
	background-color: rgba(224,224,224,1);
	outline: none;
}
#Group_59 {
	position: absolute;
	width: 340px;
	height: 83px;
	left: 76px;
	top: 354px;
	overflow: visible;
	transition: all 0.2s ease-in-out;
}
#Group_59:hover{
	transform: scale(1.05);
}

#Rectangle_103 {
	fill: rgba(17,188,210,1);
}
.Rectangle_103 {
	position: absolute;
	overflow: visible;
	width: 340px;
	height: 83px;
	left: 0px;
	top: 0px;
}
#login-btn {
	left: 0;
	top: 0;
	position: absolute;
	overflow: visible;
	width: 340px;
	height: 83px;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	background-color: transparent;
	color: rgba(255,255,255,1);
	outline: none;
	cursor: pointer;
}
#Group_70 {
	position: absolute;
	width: 1885px;
	height: 756.346px;
	left: 94px;
	top: 236px;
	overflow: visible;
	
}
#Sign-up-form {
	position: absolute;
	width: 1033px;
	height: 541px;
	left: -1300px;
	top: 19px;
	overflow: visible;
	transition: all 2s ease-in-out;
}
#Sign_Up {
	opacity: 0.74;
	left: 6px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 193px;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(0,0,0,1);
}
#Group_59_cv {
	position: absolute;
	width: 340px;
	height: 83px;
	left: 0px;
	top: 458px;
	overflow: visible;
	transition: all 0.5s ease-in-out;
}

#Group_59_cv:hover{
	transform: scale(1.05);
}
#Rectangle_103_cw {
	fill: rgba(17,188,210,1);
}
.Rectangle_103_cw {
	position: absolute;
	overflow: visible;
	width: 340px;
	height: 83px;
	left: 0px;
	top: 0px;
}
#sign-up-btn {
	width: 340px;
	height: 83px;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
	cursor: pointer;
	background-color:transparent;
	outline: none;
}
#Group_60 {
	position: absolute;
	width: 331px;
	height: 57px;
	left: 6px;
	top: 113px;
	overflow: visible;
}
#Rectangle_101_cz {
	fill: rgba(224,224,224,1);
}
.Rectangle_101_cz {
	position: absolute;
	overflow: visible;
	width: 331px;
	height: 57px;
	left: 0px;
	top: 0px;
}
#Icon_awesome-user_c {
	fill: rgba(181,181,181,1);
}
.Icon_awesome-user_c {
	overflow: visible;
	position: absolute;
	width: 12.102px;
	height: 12.102px;
	left: 35.231px;
	top: 22.734px;
	transform: matrix(1,0,0,1,0,0);
}
#sign-up-first {
	left: 75px;
	width: 200px;
	height: 57px;
	top: 0px;
	outline: none;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	color: rgba(137,137,137,1);
	background-color:  rgba(224,224,224,1);
}
#Group_62 {
	position: absolute;
	width: 331px;
	height: 57px;
	left: 354px;
	top: 113px;
	overflow: visible;
}
#Rectangle_101_c {
	fill: rgba(224,224,224,1);
}
.Rectangle_101_c {
	position: absolute;
	overflow: visible;
	width: 331px;
	height: 57px;
	left: 0px;
	top: 0px;
}
#Icon_awesome-user_da {
	fill: rgba(181,181,181,1);
}
.Icon_awesome-user_da {
	overflow: visible;
	position: absolute;
	width: 12.102px;
	height: 12.102px;
	left: 36.231px;
	top: 22.734px;
	transform: matrix(1,0,0,1,0,0);
}
#sign-up-mid {
	left: 75px;
	width: 200px;
	height: 57px;
	top: 0px;
	outline: none;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	color: rgba(137,137,137,1);
	background-color:  rgba(224,224,224,1);
}
#Group_63 {
	position: absolute;
	width: 331px;
	height: 57px;
	left: 702px;
	top: 113px;
	overflow: visible;
}
#Rectangle_101_da {
	fill: rgba(224,224,224,1);
}
.Rectangle_101_da {
	position: absolute;
	overflow: visible;
	width: 331px;
	height: 57px;
	left: 0px;
	top: 0px;
}
#Icon_awesome-user_db {
	fill: rgba(181,181,181,1);
}
.Icon_awesome-user_db {
	overflow: visible;
	position: absolute;
	width: 12.102px;
	height: 12.102px;
	left: 36.231px;
	top: 22.734px;
	transform: matrix(1,0,0,1,0,0);
}
#sign-up-last {
	left: 75px;
	width: 200px;
	height: 57px;
	top: 0px;
	outline: none;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	color: rgba(137,137,137,1);
	background-color:  rgba(224,224,224,1);
}
#Group_64 {
	position: absolute;
	width: 331px;
	height: 57px;
	left: 5px;
	top: 212px;
	overflow: visible;
}
#Rectangle_101_db {
	fill: rgba(224,224,224,1);
}
.Rectangle_101_db {
	position: absolute;
	overflow: visible;
	width: 331px;
	height: 57px;
	left: 0px;
	top: 0px;
}
#Icon_awesome-user_dc {
	fill: rgba(181,181,181,1);
}
.Icon_awesome-user_dc {
	overflow: visible;
	position: absolute;
	width: 21.179px;
	height: 24.205px;
	left: 30.692px;
	top: 16.734px;
	transform: matrix(1,0,0,1,0,0);
}
#sign-up-user {
	left: 75px;
	width: 200px;
	height: 57px;
	top: 0px;
	outline: none;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	color: rgba(137,137,137,1);
	background-color:  rgba(224,224,224,1);
}
#Group_65 {
	position: absolute;
	width: 331px;
	height: 57px;
	left: 354px;
	top: 212px;
	overflow: visible;
}
#Rectangle_101_df {
	fill: rgba(224,224,224,1);
}
.Rectangle_101_df {
	position: absolute;
	overflow: visible;
	width: 331px;
	height: 57px;
	left: 0px;
	top: 0px;
}
#sign-up-email {
	left: 75px;
	width: 200px;
	height: 57px;
	top: 0px;
	outline: none;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	color: rgba(137,137,137,1);
	background-color:  rgba(224,224,224,1);
}
#Icon_ionic-ios-mail {
	position: absolute;
	width: 21.757px;
	height: 15.062px;
	left: 30.661px;
	top: 21.305px;
	overflow: visible;
}
#Path_235 {
	fill: rgba(181,181,181,1);
}
.Path_235 {
	overflow: visible;
	position: absolute;
	width: 21.757px;
	height: 13.248px;
	left: 0px;
	top: 1.814px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_236 {
	fill: rgba(181,181,181,1);
}
.Path_236 {
	overflow: visible;
	position: absolute;
	width: 20.496px;
	height: 9.576px;
	left: 0.633px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_66 {
	position: absolute;
	width: 331px;
	height: 57px;
	left: 6px;
	top: 311px;
	overflow: visible;
}
#Rectangle_101_dl {
	fill: rgba(224,224,224,1);
}
.Rectangle_101_dl {
	position: absolute;
	overflow: visible;
	width: 331px;
	height: 57px;
	left: 0px;
	top: 0px;
}
#sign-up-pass {
	left: 75px;
	width: 200px;
	height: 57px;
	top: 0px;
	outline: none;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	color: rgba(137,137,137,1);
	background-color:  rgba(224,224,224,1);
}
#Icon_awesome-lock_dn {
	fill: rgba(181,181,181,1);
}
.Icon_awesome-lock_dn {
	overflow: visible;
	position: absolute;
	width: 23.037px;
	height: 26.328px;
	left: 28.371px;
	top: 15.672px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_67 {
	position: absolute;
	width: 331px;
	height: 57px;
	left: 354px;
	top: 311px;
	overflow: visible;
}
#Rectangle_101_dp {
	fill: rgba(224,224,224,1);
}
.Rectangle_101_dp {
	position: absolute;
	overflow: visible;
	width: 331px;
	height: 57px;
	left: 0px;
	top: 0px;
}
#sign-up-confirm-pass {
	left: 75px;
	width: 200px;
	height: 57px;
	top: 0px;
	outline: none;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	color: rgba(137,137,137,1);
	background-color:  rgba(224,224,224,1);
}
#Icon_awesome-lock-open {
	fill: rgba(181,181,181,1);
}
.Icon_awesome-lock-open {
	overflow: visible;
	position: absolute;
	width: 23.421px;
	height: 20.819px;
	left: 27.579px;
	top: 18.427px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_68 {
	left: 2200px;
	position: absolute;
	width: 459px;
	height: 332px;
	top: 0px;
	overflow: visible;
	z-index: 2;
	transition: all 2s ease-in-out;

}
#One_of_us_ {
	left: 92px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 277px;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(255,255,255,1);
}
#Connect_your_friends_and_the_w_du {
	left: 0px;
	top: 88px;
	position: absolute;
	overflow: visible;
	width: 460px;
	height: 160px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Group_55_dv {
	position: absolute;
	width: 222px;
	height: 55px;
	left: 119px;
	top: 277px;
	overflow: visible;
	transition: all 0.2s ease-in-out;
}
#Group_55_dv:hover{
	transform: scale(1.05);
}

#Rectangle_100_dw {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_100_dw {
	position: absolute;
	overflow: visible;
	width: 222px;
	height: 55px;
	left: 0px;
	top: 0px;
}
#goto-sign-in {
	left: 0;
	width: 222px;
	height: 55px;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
	background-color: transparent;
	outline: none;
	cursor: pointer;
}
#Group_69 {
	position: absolute;
	width: 915.191px;
	height: 392.009px;
	left: 2200px;
	top: 364.336px;
	overflow: visible;
	transition: all 2s ease-in-out;
}
#Path_211 {
	fill: rgba(255,185,185,1);
}
.Path_211 {
	overflow: visible;
	position: absolute;
	width: 43.858px;
	height: 58.588px;
	left: 157.02px;
	top: 209.879px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_212 {
	fill: rgba(255,184,184,1);
}
.Path_212 {
	overflow: visible;
	position: absolute;
	width: 62.912px;
	height: 38.334px;
	left: 22.863px;
	top: 341.364px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_213 {
	fill: rgba(47,46,65,1);
}
.Path_213 {
	overflow: visible;
	position: absolute;
	width: 32.992px;
	height: 50.013px;
	left: 0px;
	top: 337.552px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_214 {
	fill: rgba(255,184,184,1);
}
.Path_214 {
	overflow: visible;
	position: absolute;
	width: 48.588px;
	height: 62.958px;
	left: 92.512px;
	top: 314.304px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_215 {
	fill: rgba(47,46,65,1);
}
.Path_215 {
	overflow: visible;
	position: absolute;
	width: 53.208px;
	height: 38.627px;
	left: 58.362px;
	top: 353.382px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_216 {
	fill: rgba(47,46,65,1);
}
.Path_216 {
	overflow: visible;
	position: absolute;
	width: 140.001px;
	height: 91.32px;
	left: 99.773px;
	top: 266.457px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_217 {
	fill: rgba(255,185,185,1);
}
.Path_217 {
	overflow: visible;
	position: absolute;
	width: 74.204px;
	height: 34.714px;
	left: 143.241px;
	top: 298.924px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_218 {
	fill: rgba(47,46,65,1);
}
.Path_218 {
	overflow: visible;
	position: absolute;
	width: 211.811px;
	height: 73.621px;
	left: 44.859px;
	top: 308.898px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_40 {
	fill: rgba(255,185,185,1);
}
.Ellipse_40 {
	position: absolute;
	overflow: visible;
	width: 47.069px;
	height: 47.069px;
	left: 204.774px;
	top: 180.362px;
}
#Path_219 {
	fill: rgba(204,204,204,1);
}
.Path_219 {
	overflow: visible;
	position: absolute;
	width: 121.239px;
	height: 154.309px;
	left: 167.963px;
	top: 231.831px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_220 {
	opacity: 0.1;
	fill: rgba(0,0,0,1);
}
.Path_220 {
	overflow: visible;
	position: absolute;
	width: 66.983px;
	height: 74.911px;
	left: 215.636px;
	top: 263.64px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_221 {
	fill: rgba(204,204,204,1);
}
.Path_221 {
	overflow: visible;
	position: absolute;
	width: 85.689px;
	height: 77.242px;
	left: 196.929px;
	top: 260.018px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_222 {
	fill: rgba(47,46,65,1);
}
.Path_222 {
	overflow: visible;
	position: absolute;
	width: 61.523px;
	height: 53.056px;
	left: 201.831px;
	top: 167.937px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_41 {
	fill: rgba(255,185,185,1);
}
.Ellipse_41 {
	position: absolute;
	overflow: visible;
	width: 8.448px;
	height: 8.448px;
	left: 235.851px;
	top: 202.388px;
}
#Rectangle_105 {
	fill: rgba(45,134,204,1);
}
.Rectangle_105 {
	width: 19.399px;
	height: 19.399px;
	position: absolute;
	overflow: visible;
	transform: translate(0px, 0px) matrix(1,0,0,1,42.4217,107.4694) rotate(-86.19deg);
	transform-origin: center;
}
#Path_223 {
	fill: rgba(204,204,204,1);
}
.Path_223 {
	overflow: visible;
	position: absolute;
	width: 25.07px;
	height: 25.07px;
	left: 29.034px;
	top: 117.125px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_106 {
	fill: rgba(89,204,116,1);
}
.Rectangle_106 {
	width: 19.399px;
	height: 19.399px;
	position: absolute;
	overflow: visible;
	transform: translate(0px, 0px) matrix(1,0,0,1,135.3316,51.27) rotate(-12.127deg);
	transform-origin: center;
}
#Path_224 {
	fill: rgba(204,204,204,1);
}
.Path_224 {
	overflow: visible;
	position: absolute;
	width: 27.979px;
	height: 27.979px;
	left: 116.131px;
	top: 40.263px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_107 {
	fill: rgba(239,98,98,1);
}
.Rectangle_107 {
	width: 19.399px;
	height: 19.399px;
	position: absolute;
	overflow: visible;
	transform: translate(0px, 0px) matrix(1,0,0,1,122.3974,144.543) rotate(-43.127deg);
	transform-origin: center;
}
#Path_225 {
	fill: rgba(204,204,204,1);
}
.Path_225 {
	overflow: visible;
	position: absolute;
	width: 33.296px;
	height: 33.296px;
	left: 113.529px;
	top: 121.356px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_226 {
	fill: rgba(63,61,86,1);
}
.Path_226 {
	overflow: visible;
	position: absolute;
	width: 605.575px;
	height: 351.404px;
	left: 274.962px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_108 {
	fill: rgba(255,255,255,1);
}
.Rectangle_108 {
	position: absolute;
	overflow: visible;
	width: 563.209px;
	height: 317.708px;
	left: 296.142px;
	top: 27.92px;
}
#Ellipse_42 {
	fill: rgba(255,255,255,1);
}
.Ellipse_42 {
	position: absolute;
	overflow: visible;
	width: 11.553px;
	height: 11.553px;
	left: 571.489px;
	top: 7.702px;
}
#Path_227 {
	fill: rgba(242,242,242,1);
}
.Path_227 {
	overflow: visible;
	position: absolute;
	width: 402.141px;
	height: 317.708px;
	left: 296.142px;
	top: 27.921px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_43 {
	fill: rgba(255,99,99,1);
}
.Ellipse_43 {
	position: absolute;
	overflow: visible;
	width: 108.275px;
	height: 108.275px;
	left: 330.13px;
	top: 213.578px;
}
#Path_228 {
	fill: rgba(63,61,86,1);
}
.Path_228 {
	overflow: visible;
	position: absolute;
	width: 134.683px;
	height: 134.683px;
	left: 328.978px;
	top: 173.722px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_109 {
	fill: rgba(63,61,86,1);
}
.Rectangle_109 {
	position: absolute;
	overflow: visible;
	width: 52.61px;
	height: 10.993px;
	left: 676.36px;
	top: 192.979px;
}
#Rectangle_110 {
	fill: rgba(63,61,86,1);
}
.Rectangle_110 {
	position: absolute;
	overflow: visible;
	width: 152.157px;
	height: 4.711px;
	left: 626.586px;
	top: 133.423px;
}
#Rectangle_111 {
	fill: rgba(63,61,86,1);
}
.Rectangle_111 {
	position: absolute;
	overflow: visible;
	width: 152.157px;
	height: 4.711px;
	left: 626.586px;
	top: 151.932px;
}
#Rectangle_112 {
	fill: rgba(63,61,86,1);
}
.Rectangle_112 {
	position: absolute;
	overflow: visible;
	width: 152.157px;
	height: 4.711px;
	left: 626.586px;
	top: 170.443px;
}
#Rectangle_113 {
	fill: rgba(150,144,255,1);
}
.Rectangle_113 {
	position: absolute;
	overflow: visible;
	width: 21.986px;
	height: 21.986px;
	left: 797.517px;
	top: 46.933px;
}
#Path_229 {
	fill: rgba(204,204,204,1);
}
.Path_229 {
	overflow: visible;
	position: absolute;
	width: 26.698px;
	height: 26.698px;
	left: 803.012px;
	top: 52.43px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_230 {
	fill: rgba(63,61,86,1);
}
.Path_230 {
	overflow: visible;
	position: absolute;
	width: 664.298px;
	height: 50.958px;
	left: 250.893px;
	top: 335.106px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_233 {
	fill: rgba(151,190,220,1);
}
.Path_233 {
	overflow: visible;
	position: absolute;
	width: 19.399px;
	height: 19.399px;
	transform: translate(0px, 0px) matrix(1,0,0,1,102.0119,220.5079) rotate(15deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Path_231 {
	fill: rgba(204,204,204,1);
}
.Path_231 {
	overflow: visible;
	position: absolute;
	width: 25.07px;
	height: 25.07px;
	transform: translate(0px, 0px) matrix(1,0,0,1,88.9553,204.9108) rotate(101deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Path_234 {
	fill: rgba(204,45,45,1);
}
.Path_234 {
	overflow: visible;
	position: absolute;
	width: 19.399px;
	height: 19.399px;
	transform: translate(0px, 0px) matrix(1,0,0,1,331.7989,67.0978) rotate(89deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Path_232 {
	fill: rgba(204,204,204,1);
}
.Path_232 {
	overflow: visible;
	position: absolute;
	width: 25.07px;
	height: 25.07px;
	transform: translate(0px, 0px) matrix(1,0,0,1,338.4138,50.9194) rotate(175deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}